@model IEnumerable<SemaNewsCore.Models.Topic>
@{
    ViewBag.Title = "Tập các chủ đề";
    int topicIndex = 1;
}

<div id="main-container" class="container">
    <div class="page-header">
        <h1>@ViewBag.Title</h1>

         <p>
             <a class="btn btn-lg btn-primary" href="@Url.Action("Create")"><span class="fa fa-plus"></span> Thêm mới</a>
        </p>

        @using (Html.BeginForm("Index", "Topic", FormMethod.Get, new { @class = "", @role = "form" }))
        {
            <div class="input-group col-md-9">
                <label class="sr-only" for="SearchString">Search String</label>
                @Html.TextBox("Filter", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Tìm kiếm chủ đề",@autofocus="autofocus", @value=ViewBag.FilterString })
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary"><span class="fa fa-search"></span></button>
                </span>
            </div>
        }
    </div>
    
    @if (Model.Count() == 0)
    {
        <div class="alert alert-danger">
             <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <p><strong>Cảnh báo!</strong> Không tìm thấy chủ đề nào ...</p>
        </div>
    }
    else
    {
        <table class="table table-condensed">
            <tr>
                <th class="col-md-1">STT</th>
                <th>TÊN</th>
                <th>MÔ TẢ</th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr class="topic-row" data-id="@item.Id">
                    <td>@(topicIndex++)</td>
                    <td class="col-sm-2">@item.Name.ToUpper()</td>
                    <td>@item.Description</td>
                    <td class="col-sm-1">
                        <div class="btn-group">
                            <a href="@Url.Action("Edit",new{id=@item.Id})" class="btn btn-sm btn-primary btn-edit"><span class="fa fa-cog"></span></a>
                            <button data-id="@item.Id" data-name="@item.Name" class="btn btn-sm btn-danger btn-del-topic"><span class="fa fa-trash-o"></span></button>
                        </div>
                    </td>
                </tr>
            }
        </table>
    }

</div>

<div class="modal fade" id="modal-delete-topic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="myModalLabel">Modal title</h2>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger btn-delete">Xóa</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('button.btn-del-topic').click(function () {
                showModalDelTopic($(this).attr('data-id'), $(this).attr('data-name'));
            });

            function showModalDelTopic(id, name) {
                var modalTitle = 'Xóa chủ đề ' + name;
                var modalBody = '<p class="lead">Bạn thực sự muốn xóa chủ đề này ? </p>';
                modalBody += '<div class="alert alert-danger">';
                modalBody += '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>'
                modalBody += '<h4>CẢNH BÁO</h4>';
                modalBody += 'Bạn đang yêu cầu xóa chủ đề <strong>' + name + '</strong>.';
                modalBody += '<p>Một khi bạn đồng ý xóa, việc khôi phục là không thể !</p>'
                modalBody += '</div>';

                $('#modal-delete-topic #myModalLabel').text(modalTitle);
                $('#modal-delete-topic .modal-body').html(modalBody);
                $('#modal-delete-topic .btn-delete').attr('data-id', id);
                $('#modal-delete-topic').modal('show');
            }

            $('#modal-delete-topic .btn-delete').click(function () {
                var cateogyId = $('#modal-delete-topic .btn-delete').attr('data-id');
                if (cateogyId == null) {
                    $.growl('Không hợp lệ !');
                    retur;
                }
                deleteTopic(cateogyId);
                $('#modal-delete-topic').modal('hide');
            });

            function deleteTopic(id) {
                $.ajax({
                    url: '@Url.Action("AjaxDelete")',
                    data: { id: id },
                    type: 'POST',
                    success: function (data) {
                        if (data.OK == true) {
                            notifyMessage(data.Message, "success");
                            removeTopicRow(id)
                        }
                        else {
                            notifyMessage(data.Message, "danger");
                        }
                    },
                    error: function (data) {
                        notifyMessage(data.Message, "danger");
                    }
                });
            }

            function removeTopicRow(id) {
                $('tr.topic-row[data-id=' + id + ']').remove();
            }
        });

    </script>
}